#gameCanvas {
            border: 2px solid black;
            margin: 20px;
        }
.nextBox {
            border: 2px solid black;
            margin: 20px;
        }
				
.gamenext {
	display:grid;
	grid-template-rows: 300px 120px;
	grid-template-columns: 600px;
}

.nextBoxes{
	display:grid;
	grid-template-columns: 90px 90px 90px 90px 90px;
	grid-template-rows: 120px
}
