body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b8fd4; /* Optional dark background */
  }

#gameCanvas {
            border: 2px solid black;
            margin: 20px;
        }
.nextBox {
            border: 2px solid black;
            margin: 20px;
        }
				
.gamenext {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.nextBoxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    justify-content:center;
}
